---
layout: layout/default.njk
permalink: /404.html
eleventyExcludeFromCollections: true
---

<div class="container flex flex-col items-center py-10 mx-auto font-medium text-center">
	<span class="block text-4xl text-center sm:text-5xl text-themes-default">Ошибка 404</span>
	<span class="text-2xl sm:text-4xl text-themes-second">Страница не найдена</span>
</div>
