---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
Sitemap: {{ site.rootUrl }}/sitemap.xml

User-agent: *
{% if noIndex.length %}
	{% for item in noIndex %}
 		Disallow: {{ item }}
	{% endfor %}
{% endif %}
