---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
Sitemap: {{ site.rootUrl }}/sitemap.xml

User-agent: *
{% if envs.noIndex.length %}
{% for item in envs.noIndex %}
Disallow: {{ item }}
{% endfor %}
{% endif %}
