<section>
	<div class="container mx-auto">
		<div class="p-4 mx-auto font-medium prose bg-gray-100 rounded-xl max-w-none lg:w-4/5 xl:w-3/5 lg:mx-auto">
			{{ content | safe }}
		</div>
	</div>
</section>